.left{
  float: left;
}
.right{
  float: right;
}
.white{
  color: #fff;
}
.position_relative{
  position: relative;
}
.position_absolute{
  position: absolute;
}
.flex{
  display: flex;
}
.red{
  color: #d62f10;
}
.clear{
  clear: both;
}
.block{
  display: block;
}
